<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub API App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Info about {{ username }}</h1>

<!-- {{ user_info }} -->
<br>
User's name: {{ user_info.name }} <br>
GitHub url: {{ user_info.html_url }}

<a href=" {{ user_info.html_url }}">
    Visit their page at GitHub
</a>

<br>

Public Repository: {{ user_info.public_repos }}
<br>
<img src="{{ user_info.avatar_url}}">


</body>
</html>